.App{
  width:90%;
  margin:0 auto;
}
.heading{
  color:#7B1FA2;
  font-size: 3rem;
  text-align: center;

}
@media (max-width:600px){
  .App{
    width:96%;
    margin:0 auto
  }
  .heading{
    font-size:1.5rem;
  }
}